<!--<p>
  canciones works!
</p>-->

<table class="table">
  <thead>
    <tr>
      <th class='h4'>Titulo</th>
      <th class='h4'>Minutos</th>
      <th class='h4'>Segundos</th>
      <th class='h4'>Interprete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of canciones">
      <td>
        <dd>{{c.titulo}}</dd>
      </td>
      <td>
        <dd>{{c.minutos}}</dd>
      </td>
      <td>
        <dd>{{c.segundos}}</dd>
      </td>
      <td>
        <dd>{{c.interprete}}</dd>
      </td>
    </tr>
  </tbody>
</table>
