<!--<small *ngIf="signinCompleted">{{ message }}</small>
  <button (click)="handleSignin()">Registrarse</button>

  <div class="container">
    <button (click)="handleSignin()">Registrarse</button>
</div>-->

<div>
  <label for="email">Email: </label>
  <input
    id="email"
    type="email"
    name="email"
    [(ngModel)]="email"
    placeholder="email"
  />
  <br />

  <label for="password">Password: </label>
  <input
    id="password"
    type="password"
    name="Password"
    [(ngModel)]="contrasena"
    placeholder="password"
  />
  <br />

  <button (click)="handleSignin()">Registrarse</button>

  <div class="container">
    <button (click)="handleCancel()">Cancelar</button>
  </div>
</div>
